<section id="sales-list" data-transition="slide" ng-controller="SalesMainCtrl" data-pull="arrow-down">
    <header data-title="销售管理" class="extended" style="height:82px;">
        <nav>
            <a href="#" ng-click="showMenu($event)" data-icon="menu"></a>
        </nav>
        <div class="groupbar-container">
                <nav data-control="groupbar">
                    <a href="#"  ng-class="steps=='chance'?'active':''" ng-click="changeStep('chance')">
                        <abbr>机会</abbr>
                        <span class="tag count">{{SalesChanceCount}}</span>
                    </a>
                    <a href="#"  ng-class="steps=='visit'?'active':''" ng-click="changeStep('visit')">
                        <abbr>拜访</abbr>
                        <span class="tag count">{{SalesVisitCount}}</span>
                    </a>
                    <a href="#"  ng-class="steps=='contract'?'active':''" ng-click="changeStep('contract')">
                        <abbr>合同</abbr>
                        <span class="tag count">{{SalesContractCount}}</span>
                    </a>
                    <a href="#"  ng-class="steps=='after'?'active':''" ng-click="changeStep('after')">
                        <abbr>售后</abbr>
                        <span class="tag count">{{SalesAfterCount}}</span>
                    </a>
                </nav>
        </div>
    </header>

<article id="sales-list-article" class="active list indented" ng-refresh="refreshList()">
        <ul ng-show="steps=='chance'">
            <li ng-repeat="chance in chances">
                <a href="#">
                    <strong>{{chance.Remark| limitTo:15}}</strong>
                    <small>联系人: {{chance.ContactName}} ,联系方式: {{chance.Phone||chance.Tel||chance.Email||chance.Qq}} ,创建时间: {{parseJsonDate(chance.AddTime,'yyyy/MM/dd')}}</small>
                </a>
            </li>

        </ul>
        <ul ng-show="steps=='visit'">

            <li ng-repeat="cvisit in cvisits">
                <a href="#">
                    <strong>{{cvisit.Remark}}</strong>
                    <small>共拜访: {{cvisit.VisitNum}}次 ,赢率: {{cvisit.Rate}}% ,最近一次拜访: {{parseJsonDate(cvisit.LastVisitTime,'yyyy/MM/dd')}}</small>
                </a>
            </li>

        </ul>
        <ul ng-show="steps=='contract'">

            <li ng-repeat="contract in contracts">
                <a href="#">
                    <strong>{{contract.CName}}</strong>
                    <small>合同编号: {{contract.ContractNo}} ,客户: {{contract.CustomerName}} ,合同金额: {{contract.Amount | currency:''}}</small>
                </a>
            </li>
        </ul>
        <ul ng-show="steps=='after'">
            <li></li>
        </ul>
    <a href="#" ng-show="hasMoreRecords" class="button anchor margin bottom" ng-click="showMoreRecords()">更多</a>
</article>

</section>
